<header class="fixed top-0 w-full z-40 py-3 shadow-tiny shadow-slate-200 dark:shadow-slate-700 bg-white dark:bg-slate-900">
    <div class="w-full container flex flex-col md:flex-row justify-between md:items-center gap-4">
        <div class="flex items-end gap-2 group cursor-pointer" routerLink="/">
            <img class="w-32 md:w-48 dark:invert group-hover:scale-105 transition-all" src="assets/crossref-logo.png" alt="Crossref Logo Image" title="Crossref Logo">
            <h1 class="md:text-lg font-semibold select-none pb-1 md:pb-2 dark:text-slate-200" alt="BoldrIT Challenge">BoldrIT Challenge</h1>
        </div>
        <div class="self-end">
            <h2 class="text-sm pb-1 md:pb-3 italic text-slate-500 dark:text-slate-400" alt="View and search for online work publications">View and search for online work publications from 2018 to date</h2>
        </div>
    </div>
</header>